body {
    font-family: "Roboto", "Arial", sans-serif;
    color: #fff;
    background-color: #849d8f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page__wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.header {
    width: calc(100% - 4.6%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 3;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding-top: 7px;
}

.header__item {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
}

.header__item:first-child {
    width: 65%;
}

.header__item:last-child {
    width: 35%;
}

.header__logo-link {
    flex-shrink: 0;
}

.header__navigation {
    padding-left: 8px;
}

.header__navigation-items {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
}

.header__navigation-item {
    flex-shrink: 0;
    position: relative;
}

.header__navigation-link {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: rgba(255,255,255,0.2);
    padding: 7px 14px;
    border-radius: 16px;
    border: none;
}

.header__navigation-item:hover > .header__navigation-link:hover {
    padding: 7px 14px;
    border-radius: 16px;
    background-color: #fff;
    border: none;
    color: #000;
}


.header__navigation-item:hover > .header__navigation-link:active {
    padding: 7px 14px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: inset 0px 2px 1px 0px #696969;
    border: none;
    color: #000;
}

.header__navigation-dropped--wrap {
    display: none;
}

.header__navigation-item:hover > .header__navigation-dropped--wrap {
    display:block;
    position: absolute;
    top: 100%;
    left: -7px;
    padding-top: 12px;
    z-index: 10;
}

.header__navigation-dropped {
    display:block;
    list-style: none;
    min-width: 143px;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.4);
    overflow: hidden;
}

.header__navigation-dropped-link--title {
    display: block;
    text-decoration: none;
    color: #343434;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin: 0 6px;
    padding: 12px 0 15px 21px;
    margin-bottom: 5px;
    border-bottom: 1px solid #d1d0ce;
    pointer-events: none;
}

.header__navigation-dropped-link {
    display: block;
    text-decoration: none;
    color: #343434;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    padding: 7px 0 7px 21px;
    margin-bottom: 10px;
}

.header__navigation-dropped-link:hover {
    background-color: #fbded8;
}

.header__navigation-dropped-link:active {
    background-color: #f6b5a5;
}

.header__item-control {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.header__search {
    position: relative;
    margin-right: 10px;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: rgba(225, 255, 255, 0.2);
}

.header__search-picture {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.header__search-picture__hover {
    display: none;
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.header__search-dropped {
    display: none;
}

.header__search:hover .header__search-picture {
    display: none;
}

.header__search:hover .header__search-picture__hover {
    display: block;
}

.header__search:hover .header__search-dropped {
    display: block;
    position: absolute;
    top: 100%;
    right: 0%;
    min-width: 340px;
    height: 85;
    padding: 20px 15px;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.4);
    cursor: default;
    z-index: 10;
}

.header__search-dropped__input {
    width: 100%;
    height: 45px;
    border: 1px solid rgb(211, 211, 210);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding-left: 12px;
}

.header__search-dropped__input:hover {
    border: 2px solid #c7c6c5;
    padding-left: 11px;
}

.header__search-dropped__input:focus {
    outline-offset: -2px;
    border: 2px solid #8fbdec;
    padding-left: 11px;
    font-weight: 700;
}

.header__login {
    margin-right: 10px;
    width: 93px;
    height: 32px;
    border-radius: 16px;
    background-color: rgba(225, 255, 255, 0.2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__login-picture {
    margin-left: 16px;
}

.header__login-description {
    margin-left: 8px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.header__basket {
    width: 117px;
    height: 32px;
    border-radius: 16px;
    background-color: rgba(225, 255, 255, 0.2);
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__basket-picture {
    margin-left: 16px;
}

.header__basket-description {
    margin-left: 8px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #fff;
}



.header__item-mode {
    position: absolute;
    right: 0;
    top: calc(100% + 18px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__item-mode-time {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.header__item-mode-phone {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    pointer-events: none;
}

.slider {
    position: relative;
    margin: 0 2.3%;
    height: 605px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 41px;
}

.slider-switcher {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 22px;
}

.slider-switcher:hover {
    background-color: rgba(255,255,255,0.3);
}

.slider-switcher:active {
    background-color: #fff;
}

.slider-switcher--1 {
    left: 0;
}

.slider-switcher--2 {
    left: 30px;
}

.slider-switcher--3 {
    left: 60px;
}

.slider__input-switcher:checked + .slider-switcher {
  background-color: #fff;
}

.slider__input-switcher:checked + .slider-switcher + .slider__item {
  display: block;
}

.slider__item {
    display: none;
    text-align: center;
    margin: 0 auto;
}

.slider-picture {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: -1;
}

.slider-description {
    max-width: 700px;
    font-size: 60px;
    line-height: 60.35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.slider-link {
    display: inline-block;
    background-color: #f06240;
    background-image: linear-gradient(#f26843 0%,#e74a35 100%);
    box-shadow: 0 2px 2px 0 rgba(172,16,0,.64);
    border-radius: 32px;
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    text-shadow: 2px 0 2px rgba(172,16,0,0.76);
    padding: 10px 41px;
}

.slider-link:hover {
    background-color: #f58569;
    background-image: linear-gradient(to top,#ec6f5e,#f58569);
    box-shadow: 0 2px 2px rgba(172,16,0,1);
}

.slider-link:active {
    background-color: #dc5539;
    background-image: linear-gradient(to top,#e1613e,#d84732);
    box-shadow: 0 2px 2px rgba(167,48,31,1) inset;
}

.main__container {
    position: relative;
    margin: 0 2.3% 40px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.promo {
    width: 50%;
    min-height: 230px;
    border-radius: 15px;
    padding: 17px 19px;
}

.promo:nth-child(2n+1) {
    background-image: url(../img/rasberry-bgr.jpg);
    background-repeat: no-repeat;
    background-color: #7f0c2e;
    background-size: cover;
    margin-right: 13px;
}

.promo:nth-child(2n) {
    background-image: url(../img/chocolate-bgr.jpg);
    background-repeat: no-repeat;
    background-color: #6c422f;
    background-size: cover;
    margin-left: 13px;
}

.promo-title {
    color: #fff;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.promo-description {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    padding-top: 15px;
    margin-bottom: 44px;
}

.promo-btn {
    display: inline-block;
    background-color: #f06240;
    background-image: linear-gradient(#f26843 0%,#e74a35 100%);
    box-shadow: 0 2px 2px rgba(172,16,0,.64);
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-shadow: 2px 0 2px rgba(172,16,0,0.76);
    padding: 11px 24px;
    float: right;
}

.promo-btn:hover {
    background-color: #f58569;
    background-image: linear-gradient(to top,#ec6f5e,#f58569);
}

.promo-btn:active {
    background-color: #dc5539;
    background-image: linear-gradient(to top,#e1613e,#d84732);
    box-shadow: 0 2px 2px rgba(167,48,31,1) inset;
}

.popular-items {
    padding: 0 2.3%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.popular__item {
    width: 23.35%;
    margin-right: 2.2%;
    position: relative;
    margin-bottom: 40px;
}

.popular__item:hover {
    z-index: 11;
}

.popular__item:nth-child(4n) {
    margin-right: 0;
}

.popular__item-picture--wrap {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 13px;
}

.popular__item-picture {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    margin: 0 auto;
    background-color: #849d8f;
    z-index: 7;
}

.popular__item-picture-hit {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
}

.popular__item-price {
    display: inline-block;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    vertical-align: middle;
    position: absolute;
    top: 209px;
    left: -2px;
    z-index: 7;
}

.popular__item-picture-ruble {
    max-height: 32px;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: -7px;
}

.popular__item-weight {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    vertical-align: middle;
    margin-left: -9px;
}

.popular__item-link {
    display: block;
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(255,255,255,0.2);
    z-index: 7;
}

.popular__item-hover {
    display: none;
}

.popular__item:hover > .popular__item-hover {
    display: inline-block;
    position: absolute;
    top: -6px;
    left: -4.9%;
    width: calc(4.9% + 100% + 4.9%);
    text-align: center;
    padding-top: 339px;
    padding-bottom: 22px;
    border-radius: 5px;
    background-color: rgba(255,255,255,.3);
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.4);
    z-index: 3;
}

.popular__item-quick {
    display: inline-block;
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-shadow: 0 2px 5px rgba(160,32,11,.76);
    padding: 10px 17px;
    border-radius: 22px;
    background-color: #f06240;
    background-image: linear-gradient(#f26843 0%,#e74a35 100%);
    box-shadow: 0 2px 2px rgba(172,16,0,.64);
    cursor: pointer;
}

.popular__item-quick:hover {
    background-color: #f58569;
    background-image: linear-gradient(to top,#ec6f5e,#f58569);
    box-shadow: 0 2px 2px rgba(172,16,0,1);
}

.popular__item-quick:active {
    background-color: #dc5539;
    background-image: linear-gradient(to top,#e1613e,#d84732);
    box-shadow: 0 2px 2px rgba(167,48,31,1) inset;
}

.advantages {
    margin: 0 2.3% 40px;
    background-color: #eee0c4;
    background-image: url(../img/wafer-bg-pattern.jpg);
    background-size: contain;
    background-repeat: repeat;
    color: #323232;
    border-radius: 17px;
    padding: 23px 20px 15px;
}

.advantages__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 0.15px;
}

.advantages__items {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.advantages__item {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 10px;
    letter-spacing: 0.05px;
}

.advantages__item:nth-child(2n) {
    padding-left: 13px;
}

.advantages__item-picture {
    display: block;
    width: auto;
}

.advantages__item-description {
    display: block;
    padding-top: 13px;
    padding-left: 6px;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    text-align: left;
}

.advantages__item:nth-child(2n) .advantages__item-description {
    padding-left: 8px;
}

.blog {
    width: 50%;
    max-width: 560px;
    background-color: #323232;
    background-image: url(../img/fruit-sherbet.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    margin-right: 13px;
    padding-left: 18px;
    padding-top: 23px;
    border-radius: 15px;
    min-height: 220px;
    color: #323232;
}

.blog__title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.blog__link {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: inherit;
    display: inline-block;
    padding-top: 5px;
    max-width: 290px;
}

.blog__picture {
    display: inline-block;
    width: 100%;
    height: auto;
}

.distribution {
    width: 50%;
    background-color: #fff;
    background-repeat: repeat;
    background-position: 0 0;
    background-image: url(../img/bg-letter-pattern.png);
    margin-left: 13px;
    border-radius: 15px;
    padding: 5px;
}

.distribution__wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    background-color: #f8f7f4;
    border-radius: 15px;
    height: 100%;
    padding: 15px 21px;
}

.distribution-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    background-color: #f8f7f4;
    border-radius: 15px;
}

.distribution-description {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    color: #5a5a5a;
    margin-bottom: 5px;
}

.distribution-email {
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #323232;
    padding-left: 12px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.52);
    width: 370px;
    height: 44px;
}

.distribution-email:hover {
    border: 2px solid #c7c6c5;
    padding-left: 11px;
}

.distribution-email:focus {
    outline-offset: -2px;
    border: 2px solid #8fbdec;
    padding-left: 11px;
    font-weight: 700;
}

.distribution-btn {
    display: inline-block;
    background-color: #f06240;
    background-image: linear-gradient(#f26843 0%,#e74a35 100%);
    box-shadow: 0 2px 2px rgba(172,16,0,.64);
    border-radius: 22px;
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-shadow: 2px 0 2px rgba(172,16,0,0.76);
    padding: 10px 18px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.distribution-btn:hover {
    background-color: #f58569;
    background-image: linear-gradient(to top,#ec6f5e,#f58569);
}

.distribution-btn:active {
    background-color: #dc5539;
    background-image: linear-gradient(to top,#e1613e,#d84732);
    box-shadow: 0 2px 2px rgba(167,48,31,1) inset;
}

.contacts {
    position: relative;
    width: 100%;
    background-image: url(../img/road-map.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 62px 0;
}

.contacts-menu {
    max-width: 302px;
    display: flex;
    flex-direction: column;
    color: #323232;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 2.3% 0 auto;
    background-color: #fffffe;
    border-radius: 15px;
    padding: 28px 25px;
}

.contacts-address {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.contacts-address-magnified {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding-bottom: 16px;
    padding-top: 2px;
}

.contacts-link {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding: 8px 0 25px;
}

.contacts-btn {
    display: inline-block;
    background-color: #f06240;
    background-image: linear-gradient(#f26843 0%,#e74a35 100%);
    box-shadow: 0 2px 2px rgba(172,16,0,.64);
    border-radius: 22px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-shadow: 2px 0 2px rgba(172,16,0,0.76);
    padding: 9px 22px 11px 28px;
}

.contacts-btn:hover {
    background-color: #f58569;
    background-image: linear-gradient(to top,#ec6f5e,#f58569);
}

.contacts-btn:active {
    background-color: #dc5539;
    background-image: linear-gradient(to top,#e1613e,#d84732);
    box-shadow: 0 2px 2px rgba(167,48,31,1) inset;
}

.footer {
    margin: 0 2.3%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-bottom: 25px;
}

.footer__social {
    max-width: 200px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding-top: 38px;
}

.footer__social-link {
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 11px;
    background-color: transparent;
    opacity: 0.8;
    border: 4px solid rgba(225, 225, 225, 0.5);
}

.footer__social-link:hover {
    border: 4px solid rgba(225, 225, 225, 0.7);
    background-color: transparent;
    opacity: 1.0;
}

.footer__social-link:active {
    background-color: transparent;
    opacity: 0.8;
    box-shadow: inset 0 2px 2px #888888;
    border: none;
}

.social-link__twitter {
    background-image: url(../img/twitter-icon.png);
}

.social-link__instagram {
    background-image: url(../img/instagram-icon.png);
}

.social-link__facebook {
    background-image: url(../img/facebook-icon.png);
}

.social-link-vk {
    background-image: url(../img/vk-icon.png);
}

.footer__production-info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 36px;
}

.footer__production-info-like {
    width: 15px;
    height: 13px;
    background-image: url(../img/heart-icon.png);
    position: absolute;
    top: 38px;
    left: -24px;
}

.footer__production-info__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.footer__production-info__wrap:last-child {
    margin-left: 30px;
}


.footer__production-info-link {
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: rgba(255,255,255,0.2);
    color: #fff;
    margin-bottom: 5px;
}

.footer__production-info-link:hover {
    color: #ffbc9e;
}

.footer__production-info-link:active {
    color: #ffbc9e;
}

.footer__copyright {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
}

.footer__copyright-picture {
    width: 108px;
    height: 39px;
    background-image: url(../img/htmacademy-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer__copyright-description {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    padding-top: 4px;
}

.footer__copyright-description .footer__production-info-link {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color: rgba(255,255,255,0.2);
    color: #fff;
    margin-bottom: 5px;
}

.footer__copyright-description .footer__production-info-link:hover {
    color: #ffbc9e;
}

.footer__copyright-description .footer__production-info-link:active {
    color: #ffbc9e;
}

.feedback__popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(132, 157, 143, 0.7);
    z-index: 30;
}

.feedback__popup-visible {
    display: block;
}

.feedback {
    position: absolute;
    width: 480px;
    border-radius: 5px;
    padding: 24px;
    background-color: #f8f7f4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 20px 20px rgba(0,0,0,.4);
    z-index: 50;
}

.feedback__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #323232;
    margin-bottom: 24px;
}

.feedback__btn-close {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    z-index: 100;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #323232;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.feedback__form-name {
    width: 265px;
    border: none;
    box-shadow: 0 0 0 1px #d3d3d2 inset;
    padding: 13px 20px;
    margin-bottom: 19px;
    border-radius: 5px;
}

.feedback__form-name:hover {
    border: 2px solid #c7c6c5;
    padding: 11px 18px;
}

.feedback__form-name:focus {
    outline-offset: -2px;
    border: 2px solid #8fbdec;
    padding: 11px 18px;
    font-weight: 700;
}

.feedback__form-email {
    width: 265px;
    border: none;
    box-shadow: 0 0 0 1px #d3d3d2 inset;
    padding: 13px 20px;
    margin-bottom: 19px;
    border-radius: 5px;
}

.feedback__form-email:hover {
    border: 2px solid #c7c6c5;
    padding: 11px 18px;
}

.feedback__form-email:focus {
    outline-offset: -2px;
    border: 2px solid #8fbdec;
    padding: 11px 18px;
    font-weight: 700;
}

.feedback__form-description {
    width: 100%;
    height: 155px;
    border: none;
    box-shadow: 0 0 0 1px #d3d3d2 inset;
    padding: 13px 20px;
    margin-bottom: 19px;
    border-radius: 5px;
    resize: none;
}

.feedback__form-description:hover {
    border: 2px solid #c7c6c5;
    padding: 11px 18px;
}

.feedback__form-description:focus {
    outline-offset: -2px;
    border: 2px solid #8fbdec;
    padding: 11px 18px;
    font-weight: 700;
}

.feedback__form-btn {
    display: inline-block;
    background-color: #f06240;
    background-image: linear-gradient(#f26843 0%,#e74a35 100%);
    box-shadow: 0 2px 2px rgba(172,16,0,.64);
    border-radius: 22px;
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-shadow: 2px 0 2px rgba(172,16,0,0.76);
    padding: 10px 24px;
    align-self: flex-end;
}

.feedback__form-btn:hover {
    background-color: #f58569;
    background-image: linear-gradient(to top,#ec6f5e,#f58569);
}

.feedback__form-btn:active {
    background-color: #dc5539;
    background-image: linear-gradient(to top,#e1613e,#d84732);
    box-shadow: 0 2px 2px rgba(167,48,31,1) inset;
}















.breadcrumbs {

    list-style: none;
}

.breadcrumbs__item {

    display: inline-block;
    text-align: left;
    margin-right: 8px;
}

.breadcrumbs__link {

    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs__link-disabled {

    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    pointer-events: none;
}

.catalog__caption {

    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    margin-top: 7px;
}

.filter-form {

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.filter-form__items-firstline {

    display: flex;
    flex-shrink: 0;
}

.filter-form__item {
    border: none;

    margin-right: 16px;
    margin-top: 50px;
    background-color: rgba(225, 255, 255, 0.2);
    border-radius: 18px;
}

.filter-form__title {
    position: absolute;

    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-left: 16px;
    margin-top: -20px;
}

.filter-form__sort {

    padding-left: 16px;
    padding-right: 25px;
    height: 36px;
    width: 193px;
    border-radius: 18px;
    border: none;
    background-color: rgba(225, 255, 255, 0);
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.filter-form__sort option {
    border: none;

    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 7px;
    background: #fff;
    color: #323232;
}

.filter-form__price-range {

    margin-left: 21px;
    margin-right: 21px;
    height: 36px;
    width: 218px;
    border-radius: 18px;
    background-color: rgba(225, 255, 255, 0);
}

.filter-form__richness {

    list-style: none;
    padding-left: 16px;
    height: 36px;
    width: 414px;
    border-radius: 18px;
    background-color: rgba(225, 255, 255, 0);
    color: #fff;
}

.filter-form__richness-item {
    display: inline-block;

    margin-right: 16px;
    text-align: left;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.filter-form__items-secondline {

    margin-top: -12px;
    display: flex;
    flex-shrink: 0;
    z-index: -1;
}

.filter-form__fillers {

    list-style: none;
    padding-left: 16px;
    height: 36px;
    width: 702px;
    border-radius: 18px;
    background-color: rgba(225, 255, 255, 0);
    color: #fff;
}

.filter-form__fillers-item {
    display: inline-block;

    margin-right: 20px;
    text-align: left;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.filter-form-btn {

    height: 36px;
    width: 143px;
    border-radius: 18px;
    border-style: solid;
    border: 2px;
    border-color: #fff;
    align-self: flex-end;
    background-color: rgba(225, 255, 255, 0);
    color: #fff;
    border-style: solid;
    border: 2px;
    border-color: #fff;
    align-self: flex-end;
}
